.calendar-outline {
    background-color: white;
    border: 0.25px solid black;
    padding-bottom: 10px;
    color: black;
}
.calendar-header h2 {
    color: black !important;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed black;
    background-color: lightblue;
    margin-top: unset;
    padding-bottom: 2px;
    
}

.div-mood {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.angry {
    background-color: #dc3545;
    color: white;
}

.sad {
    background-color: #0d6efd;
    color: white;
}

.happy {
    background-color: #198754;
    color: white;
}

.productive {
    background-color: #0dcaf0;
    color: white;
}

.grimace {
    background-color: #ffc107;
    color: white;
}