@page "/moodoverview"
@inject DataTransferObject DTObject


<div class="mood-header">
	<h1>Overview for @DTObject.SelectedDate.Year</h1>
</div>
<a class="btn btn-dark" href="\todo">Back to ToDo</a>
<div class="year">
	<div class="outline-year">
		@for (int i = 0; i<3; i++)
		{
		
				<div class="month-row">
					@for (int j = 0; j<4; j++)
					{
			
						DateTime date = new DateTime(DTObject.SelectedDate.Year, counter+1, 1);
						<Month FirstOfMonth="date"></Month>
						counter++;
					}
		
				</div>
		
		
	
		}
	</div>
</div>


	<div class="mood-row">
		
		<label class="btn btn-success mood" for="mood1"><i class="bi bi-emoji-grin"></i></label>

	
		<label class="btn btn-info mood" for="mood2"><i class="bi bi-emoji-smile"></i></label>

	
		<label class="btn btn-primary mood" for="mood3"><i class="bi bi-emoji-tear"></i></label>

	
		<label class="btn btn-warning mood" for="mood4"><i class="bi bi-emoji-grimace"></i></label>

	
		<label class="btn btn-danger mood" for="mood5"><i class="bi bi-emoji-angry"></i></label>
	</div>




@code {
	
	int counter;
	
}
