.year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.month-row {
    display: flex;
    flex-direction: row;
    
}

.mood-header{
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.outline-year {
    border: 1px solid black;
}

.btn-dark {
    position: absolute;
    left: 5px;
    top: 5px;
}

