.year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #b4ecb4;
    
}
.month-row {
    display: flex;
    flex-direction: row;
    
}

.mood-header h1 {
    position: absolute;
    margin-top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px !important;
    
}

.outline-year {
    border: 0.5px solid black;
    cursor: default;
}

.btn-dark {
    position: absolute;
    left: 5px;
    top: 5px;
    
}

.mood {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 9.5px;
    margin-right: 9.5px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: black;
    cursor: default;
}

i {
    font-size: 40px;
    color: white;
    margin: unset;
    padding: unset;
}

.mood-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%)
}

.btn-dark:hover {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    border: 1px solid #000072;
}





.btn-dark {
    background-color: #000072;
    border: 1px solid lightblue;
    color: lightblue;
    text-decoration: none;
}   