@page "/moodoverview"
@rendermode InteractiveServer
@inject DataTransferObject DTObject


<div class="mood-header">
	<h1>Overview for @DTObject.SelectedDate.Year</h1>
</div>
<a class="btn btn-dark" href="\todo">Back to ToDo</a>
<div class="year">
	<div class="outline-year">
		@for (int i = 0; i<3; i++)
		{
		
				<div class="month-row">
					@for (int j = 0; j<4; j++)
					{
			
						DateTime date = new DateTime(DTObject.SelectedDate.Year, counter+1, 1);
						<Month FirstOfMonth="date"></Month>
						counter++;
					}
		
				</div>
		
		
	
		}
	</div>
</div>



@code {
	
	int counter;
	
}
