@page "/todo"
@rendermode InteractiveServer

<PageTitle>Task Display</PageTitle>
<div class="parent-outline">
    <input type="checkbox" id="side-bar-check" @onchange="@(()=> SetChecked())">
    <div class="page-backgroud">
        
        
        <i class="bi bi-list page-backgroud-button"></i>

        @if (isChecked)
        {
            Thread.Sleep(200);
            <Calendar></Calendar>
        }
    </div>
    <div class="outline-todo">
        <ToDo @ref="tasktodo"/>
    </div>
</div>


@code {
    private bool isChecked = false;
    private ToDo tasktodo;
    private void SetChecked (){
        isChecked = !isChecked;
        Console.WriteLine(isChecked);
    }
}
