@page "/todo"
@rendermode InteractiveServer
@inject DataTransferObject DTObject

<PageTitle>Task Display</PageTitle>
<div class="parent-outline">
    <input type="checkbox" id="side-bar-check" @onchange="@(()=> SetChecked())">
    <div class="page-backgroud">
        
        
        <i class="bi bi-list page-backgroud-button"></i>

        @if (isChecked)
        {
            Thread.Sleep(200);
            <TimeTracker></TimeTracker>
            <Calendar></Calendar>
            <div class="progress progress-style">
                <div class="progress-bar change-bar" role="progressbar" style="width: @GetYearDouble%"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    @GetYearDouble %
                </div>
            </div>
        }
    </div>
    <div class="outline-todo">
        <ToDo @ref="tasktodo"/>
    </div>
</div>


@code {
    private bool isChecked = false;
    private ToDo tasktodo;
    private double GetYearDouble
    {
        get
        {
            DateTime date = new DateTime(DTObject.SelectedDate.Year, DTObject.SelectedDate.Month, DTObject.SelectedDate.Day);
            int dayOfYear = date.DayOfYear;
            bool isLeapYear = DateTime.IsLeapYear(date.Year);
            int totalDays = isLeapYear ? 366 : 365;

            double ret = (double)(dayOfYear) / (totalDays) * 100;
            return Math.Round(ret, 0);
        }
    }
    private void SetChecked (){
        isChecked = !isChecked;
        Console.WriteLine(isChecked);
    }

    private double getYearPercent(){

        DateTime date = new DateTime(DTObject.SelectedDate.Year, DTObject.SelectedDate.Month, DTObject.SelectedDate.Day);
        int dayOfYear = date.DayOfYear;
        bool isLeapYear = DateTime.IsLeapYear(date.Year);
        int totalDays = isLeapYear ? 366 : 365;
        return dayOfYear / totalDays * 100;
    }
}
