@page "/todo"
@rendermode InteractiveServer


<PageTitle>Task Display</PageTitle>
<div class="parent-outline">
    <input type="checkbox" id="side-bar-check" @onchange="@(()=> SetChecked())">
    <div class="page-backgroud">
        
        
        <i class="bi bi-list page-backgroud-button"></i>

        @if (isChecked)
        {
            Thread.Sleep(200);
            
            <div class="time-date">
                <TimeTracker></TimeTracker>
                <Calendar></Calendar>
            </div>
            
            <div class="progb">
				<ProgressBar></ProgressBar>
            </div>
            <div class="moodt">
                <MoodTracker></MoodTracker>
            </div>
				
            
            
            
        }
    </div>
    <div class="outline-todo">
        <ToDo @ref="tasktodo"/>
    </div>
</div>


@code {
    private ToDo tasktodo;
    private bool isChecked = false;

    private void SetChecked()
    {
        isChecked = !isChecked;
        Console.WriteLine(isChecked);
    }
}
