@page "/todo"
@rendermode InteractiveServer

<PageTitle>Task Display</PageTitle>
<div class="parent-outline">
    <input type="checkbox" id="side-bar-check">
    <div class="page-backgroud">
        
        
        <i class="bi bi-list"></i>
    </div>
    <div class="outline-todo">
        <ToDo />
    </div>
</div>


@code {

}
