@page "/todo"
@rendermode InteractiveServer

<PageTitle>Task Display</PageTitle>
<div class="parent-outline">
    <input type="checkbox" id="side-bar-check" @onchange="@(()=> SetChecked())">
    <div class="page-backgroud">
        
        
        <i class="bi bi-list"></i>

        @if (isChecked)
        {
            Thread.Sleep(100);
            <p>hello</p>
        }
    </div>
    <div class="outline-todo">
        <ToDo />
    </div>
</div>


@code {
    private bool isChecked = false;

    private void SetChecked (){
        isChecked = !isChecked;
        Console.WriteLine(isChecked);
    }
}
