.clock-timer p {
    margin: 0;
    font-size: 27px;
    color: white;
    margin-top: 4.5px;
    font-family: Helvetica;
    letter-spacing: .05rem;
    font-weight: 80;
    position: absolute;
    left: 24%;
}

.clock-timer {
    height: 50px;
    background-color: #51087E;
    border-bottom: 1px solid #EAB2FE;
    width: 250px;
    height: 48px !important;
    
}
.gradient-text {
    background: linear-gradient(to right, #B2C9FE, #EAB2FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}