@page "/"
@inject NavigationManager NavManager
@rendermode InteractiveServer

<PageTitle>Welcome Page</PageTitle>

    <div class="invisible-Welcome-Page-Button">
        <button type="button"  @onclick="@(() => changePage())">load Todo</button>
    </div>
    <link
<img src="img/lakeside-pink-sky-sunset-minimal-art-gradient-background-2560x1080-4584.png" alt="background-image" />
    
    <div class="welcome-Page">
        <div class="welcome-container">
            <p class="invisible-animation">@welcomeString</p>
            <i class="bi bi-cursor-text invisible-animation"></i>
            <div class="visible-container">
				<p>@displayedText</p>
                @if(blinking){
					<i class="bi bi-cursor-text blink"></i>
                    <div class="for-centering">
                        <div class="click-anywhere"> 
                            Click Anywhere to Continue.
                        </div>
                    </div>
				}
				else{
			        <i class="bi bi-cursor-text "></i>
                }
					
				
            </div>
            
        </div>
        
    </div>
    
    




@code {
    private string welcomeString = "Welcome " + Environment.UserName + "! ";
    private string displayedText = string.Empty;
    private bool blinking = false;

    protected override async Task OnInitializedAsync()
    {
        foreach (var letter in welcomeString)
        {
            displayedText += letter;
            StateHasChanged(); 
            await Task.Delay(250); 
        }
        blinking = true;
        StateHasChanged();
    }

    private void changePage(){
        NavManager.NavigateTo("/todo");
    }
}
