@page "/"
@inject NavigationManager NavManager
@rendermode InteractiveServer

<PageTitle>Welcome Page</PageTitle>

    <div class="invisible-Welcome-Page-Button">
        <button type="button"  @onclick="@(() => changePage())">load Todo</button>
    </div>

    
    <div class="welcome-Page">
        <div class="welcome-container">
            <p class="invisible-animation">@welcomeString</p>
            <i class="bi bi-cursor-text invisible-animation"></i>
            <div class="visible-container">
				<p>@displayedText</p>
                @if(blinking){
					<i class="bi bi-cursor-text blink"></i>
				}
				else{
			        <i class="bi bi-cursor-text "></i>
                }
					
				
            </div>
            
        </div>
        
    </div>
    
    




@code {
    private string welcomeString = "Welcome " + Environment.UserName + "! ";
    private string displayedText = string.Empty;
    private bool blinking = false;

    protected override async Task OnInitializedAsync()
    {
        foreach (var letter in welcomeString)
        {
            displayedText += letter;
            StateHasChanged(); 
            await Task.Delay(250); 
        }
        blinking = true;
        StateHasChanged();
    }

    private void changePage(){
        NavManager.NavigateTo("/todo");
    }
}
